*{
    margin: 0px;
    padding: 0px;
}
.containar{
     display: flex;
     background-color: black;
     color: aliceblue;
     align-items: center;
    
     list-style: none;
     
     justify-content: space-around;

}
.menu{
    display: flex;
    justify-content: space-around;

}

.one{
    margin: 55px;
    font-size: 25px;
    
}
.one:hover{
    color: crimson;
}
.logo-one{
    margin: left 0px;
    padding: 00px;
    height: 100px;
    width: 100px;
}
h1{
    font-size: 50px;
    color: rgb(0, 255, 85);
    border: none;
    margin-top: 25px;

}
p{
    font-style: italic;
    color: aliceblue;
    

}
.btn{
    color: azure;
    background-color: black;
    font: style 10px;
    padding: 10px;
    margin: 20px;
    ;
}
.pic-1 img{
    height: 300px;
    width: 250px;
    border-radius:50% ;
    padding: 20px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: space-around;
    margin: 25px;

}
.containar-02{
    display: flex;
    justify-content: space-around;
    background-color: rgb(133, 45, 92);
}
h3{
    padding: 5px;
    font-size: 20px;


}

.pic-02 img{
    height: 300px;
    width: 250px;
    border-radius:50% ;
    padding: 20px;
    background-color: rgb(125, 51, 128);
   
    
    margin: 25px;

}
.text{
    color: aliceblue;
}
.second{
    background-color: rgb(53, 29, 29);
    display: flex;
    justify-content: space-around;
}
.hi{
    color: aliceblue;
    font-size: 25px;
    padding-top: 30px;
}
.all{
    display: flex;
    justify-content: space-around;
    background-color:rgb(44, 59, 14) ;
    padding: 30px;
    
}
.lol{
    color: rgb(138, 169, 194);
    font-style: italic;
    padding: 10px;
    
}
.two{
    
    width: 300px;
    height: 300px;
    background-color: rgb(61, 31, 31);
    box-shadow: 10px;
    border-radius: 30px;
    padding: 25px;

}
.btn-2{
    text-align: center;
    background-color: rgba(243, 24, 24, 0.671);
   font-style: 10px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}
.our{
    background-color: rgb(54, 92, 16);
    text-align: center;
    margin-top: 0px;
}
.title-03{
    text-align: center;
    color: whitesmoke;
    background-color: black;
    margin: 0px;
}
.imt{
    font-style: italic;
    font-size: 40px;
    color: black(161, 184, 35);
    padding: 15px;
    font-style: underline;
}
.pra{
    color: rgb(117, 211, 23);
    
    background-color: rgb(211, 54, 54);
    padding: 25px;
    border-radius: 20px;
}
  
.main img{
    width: 350px;
    height: 400px;
    margin-top: 150px;
}
.four{
    background-color: rgb(226, 127, 127);
    display: flex;

}
.last-div{
    display: flex;
    background-color: rgb(43, 40, 40);
    justify-content: space-around;
    
}
.five{
    font-size: 30px;
    color: azure;
    padding-top: 30px;
    
}
h5{
    padding-top: 25px;
    padding-bottom: 15px;
    color: rgb(195, 195, 219);
   
    
}
.finish{
    color: aliceblue;
    background-color: black;
    text-align: center;
}
   
